{{ define "main" }}
    <main class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="post">
                <header>
                    <h1 id="wb-cont" property="name">
                        {{ .Title }}
                    </h1>
                    <div class="post-date mrgn-bttm-md text-muted text-right small">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <time datetime="{{ .Date.Format .Site.Params.DateForm }}">
                            {{ .Date.Format .Site.Params.DateForm }}
                        </time>
                    </div>
                </header>
                <div class="post-content">
                    {{ .Content }}
                </div>
            
                <footer>
                    {{ partial "components/pager.html" . }}
                </footer>
            </article>
        </div>
        <div class="col-md-4">
            {{ partial "sidebar/sidebar.html" . }}
        </div>
    </div>
    </main>
{{ end }}